.headerTools {
  display: grid;
  grid-template-columns: 4.5% 19.9% 11.3% 9.06% 13.54% 14.02% 18.41% 9.06%;
  border-bottom: 1px solid #C9CFDA;
  padding-bottom: 6px;
  margin-bottom: 32px;
}

.headerTools__name {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}
